.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}

input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}